<% text = ['Beds, dressers and more', 'Bookcases', 'Cabinets, sideboards and buffets', 'Dining tables and chairs', 'Radiator covers', 'Wall units'] %>
<% links = ['31', '26', '50', '37', '42', '46'] %>
<div class="row" id="homepage">
  <% @pictures.each_with_index do |image, index| %>
   <a href="/categories/<%= links[index] %>">
    <div class="homepage-image end" style="background:
      linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)
      ),
      url('./images/homepage/<%= index + 1 %>.jpg');
      background-size: cover;
      background-position: center;" >
      <h4 class="image-text"><%= text[index] %></h4>
    </div>
  </a>
  <% end %>
</div>
