<% text = ['Beds', 'Bookcases', 'Cabinets, sideboards and buffets', 'Dining tables', 'Radiator covers', 'TV stands'] %>
<% links = ['beds%20and%20storage%20beds', 'bookcases', 'cabinets', 'dining%20tables', 'radiator%20covers', 'tv%20stands'] %>
<div class="row" id="homepage">
  <% @pictures.each_with_index do |image, index| %>
   <a href="/categories/<%= links[index] %>">
    <div class="homepage-image end" style="background:
      linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)
      ),
      url('./images/homepage/<%= index + 1 %>.jpg');
      background-size: cover;
      background-position: center;" >
      <h4 class="image-text"><%= text[index] %></h4>
    </div>
  </a>
  <% end %>
</div>
