/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
*/

.flash-container {
  padding: 10px;
  color: white;
  background: #cc3d3d;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar {
  background: white;
  padding: 5px;
  padding-top: 20px;
  height: 100%;
}

.sidebar a {
  transition: color 0.25s, ease;
  font-size: 1em;
  color: black;
}

.sidebar a:hover {
  transition: color 0.25s, ease;
  color: #439B4F;
}

.sidebar hr {
  margin-right: 20px;
}

.top-header {
  background: #439B4F;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.top-header h1 {
  font-size: 4em;
  font-family: 'Sanchez', serif;
  color: white;
  text-shadow: 2px 2px black;
}

.main {
  padding: 20px;
}

.category-title {
  text-align: center;
}

.product-title {
  text-align: center;;
  margin-bottom: 40px;
}

.product-title h1 {
  color: #439B4F;
  margin-bottom: 0px;
}

.category-product {
  /*padding: 5px;*/
  text-align: center;
  margin-bottom: 30px;
}

.product-thumbnail {
  padding: 10px;
}

.product-text {
  padding-left: 50px;
  text-align: left;
}

.product-description p {
  text-align: right;
  white-space: pre-wrap;
  font-family: 'Biryani', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.edit-product-image img {
  display: block;
  margin: auto;
}

.pricing {
  display: block;
  margin: auto;
  text-align: center;
}

#homepage {
  display: block;
  margin: auto;
}

.image-text {
  padding: 5px;
  opacity: 0;
  text-align: center;
}

.homepage-image {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  height: 15vw;
  margin: 10px;
  border: 1px solid #439B4F;
 }

 .homepage-image:hover {
   opacity: .75
 }

.homepage-image:hover .image-text {
  transition: opacity .25s ease-in-out;
  opacity: 1;
  background: #439B4F;
  color: white;
}

.delete-link a {
  color: #cc3d3d;
}

.color-div {
  margin-bottom: 10px;
}

.color-div h4 {
  font-size: 14px;
}

.color-image {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.unfinished-pricing-table {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.unfinished-pricing-table th {
  background-color: #439B4F;
  color: white;
}
