/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
*/

.flash-container {
  padding: 10px;
  color: white;
  background: #cc3d3d;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar {
  background: white;
  padding: 5px;
  padding-top: 20px;
  height: 100%;
}

.sidebar a {
  transition: color 0.25s, ease;
  font-size: 24px;
  color: black;
}

.sidebar a:hover {
  transition: color 0.25s, ease;
  font-size: 24px;
  color: #439B4F;
}

.top-header {
  background: #439B4F;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.top-header h1 {
  font-size: 4em;
  font-family: 'Sanchez', serif;
  color: white;
  text-shadow: 2px 2px black;
}

.main {
  padding: 20px;
}

.category-title {
  text-align: center;
}

.product-title {
  text-align: center;
  margin-bottom: 40px;
}

.product-title h1 {
  color: #439B4F;
}

.category-product {
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.product-thumbnail {
  padding: 10px;
}

.edit-product-image img {
  display: block;
  margin: auto;
}

.pricing {
  display: block;
  margin: auto;
  text-align: center;
}
