.side-nav {
  margin: 0px;
}

.open-button {
  padding-top: 250px;
  color: #439B4F;
  /*text-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);*/
}

.sidebar {
  background: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  margin-top: 100px;
  height: 100%;
  position: fixed;
  z-index: 1;
  transition: all 0.5s;
  width: 250px;
  display: flex;
  overflow-y: auto;
}

.sidebar.smaller {
  margin-top: 50px;
  padding-top: 30px;
}

.top-link b {
  color: #439B4F;
  transition: color 0.25s, ease;
}

.top-link b:hover {
  color: black;
  transition: color 0.25s, ease;
}

.sidebar.smaller {
  transition: all 0.5s;
}

.sidebar a {
  transition: color 0.25s, ease;
  font-size: .8em;
  color: black;
}

.sidebar a:hover {
  transition: color 0.25s, ease;
  color: #439B4F;
}
