<div class="row mto-row">
  <div class="small-12 large-6 columns mto-description" >
    <h2>Step One: Select Your Size</h2>
    <br />
    <p>
      Start by selecting the outside dimensions of your new armoire.
    </p>
  </div>
  <div class="small-12 large-6 columns pricing mto-price" id="finished-pricing">
    <table class="unfinished-pricing-table" id="finished-pricing-table-<%= @product.id %>">
    </table>
  </div>
</div>
<div class="row mto-row">
  <div class="small-12 large-6 columns mto-description left" >
    <h2>Step Two: Add Internal Storage</h2>
    <br />
    <p>
      We offer many additional options to customize armoires to your specific storage needs.
    </p>
  </div>
  <div class="small-12 large-6 columns mto-images" >
    <div class="mto-div end">
      <img src="/images/mto-armoires/full_width_shelf.jpg" class="mto-image"/>
      <h4>full width shelf<br/>+$50 each<h4>
    </div>
    <div class="mto-div end">
      <img src="/images/mto-armoires/ext_drawer.jpg" class="mto-image"/>
      <h4>exterior drawer<br/>+$125 each<h4>
    </div>
    <div class="mto-div end">
      <img src="/images/mto-armoires/interior_drawer.jpg" class="mto-image"/>
      <h4>interior drawer<br/>+$125 each<h4>
    </div>
  </div>
</div>
<div class="row mto-row">
  <div class="small-12 large-6 columns mto-description left" >
    <h2>Step Three: Style Options</h2>
    <br />
    <p>
      We offer many additional options to customize armoires to your specific storage needs.
    </p>
  </div>
  <div class="small-12 large-6 columns mto-images" >
    <div class="mto-div two end">
      <img src="/images/mto-armoires/rp_door.jpeg" class="mto-image"/>
      <h4>raised panel doors<br/>+$100<h4>
    </div>
    <div class="mto-div two end">
      <img src="/images/mto-armoires/glass_doors.jpeg" class="mto-image"/>
      <h4>glass / mirror doors<br/>+$40 / panel<h4>
    </div>
  </div>
</div>
