<div class="row mto-row">
  <div class="small-12 large-6 columns mto-description desks" >
    <h2>Step One: Select Your Top Size</h2>
    <br />
    <p>
      Select a desk top size that best fits your needs.
      Two edge styles are offered, illustrated below.
    </p>
      <div class="mto-div desks end">
        <img src="/images/mto-desks/narrow.jpeg" class="top-image desks"/>
        <h4>narrow trip<br/>included<h4>
      </div>
      <div class="mto-div desks end">
        <img src="/images/mto-desks/wide.jpeg" class="top-image desks"/>
        <h4>wide trim<br/>+$50<h4>
      </div>
  </div>
  <div class="small-12 large-6 columns pricing mto-price" id="finished-pricing">
    <table class="unfinished-pricing-table" id="finished-pricing-table-<%= @product.id %>">
    </table>
  </div>
</div>

<div class="row mto-row">
  <div class="small-12 large-6 columns mto-description" >
    <h2>Step Two: Select Two Bases</h2>
    <br />
    <p>
      A wide range of bases is offered, from a simple Solid Wall to File Drawers.
    </p>
  </div>
  <div class="small-12 large-6 columns pricing mto-price" id="finished-pricing">
    <div class="mto-div desks end">
      <img src="/images/mto-desks/solid_wall.jpeg" class="top-image desks"/>
      <h4>solid wall<br/>+$40<h4>
    </div>
    <div class="mto-div desks end">
      <img src="/images/mto-desks/narrow_cubby.jpeg" class="top-image desks"/>
      <h4>narrow cubby<br/>+$75<h4>
    </div>
    <div class="mto-div desks end">
      <img src="/images/mto-desks/wide_cubby.jpeg" class="top-image desks"/>
      <h4>wide cubby<br/>+$105<h4>
    </div>
    <div class="mto-div desks end">
      <img src="/images/mto-desks/cubby_door.jpeg" class="top-image desks"/>
      <h4>add a cubby door<br/>+$95<h4>
    </div>
    <div class="mto-div desks end">
      <img src="/images/mto-desks/two_file.jpeg" class="top-image desks"/>
      <h4>two drawer file cabinet<br/>+$275<h4>
    </div>
    <div class="mto-div desks end">
      <img src="/images/mto-desks/combo.jpeg" class="top-image desks"/>
      <h4>combo drawer unit<br/>+$275<h4>
    </div>
  </div>
</div>

<div class="row mto-row">
  <div class="small-12 large-6 columns mto-description" >
    <h2>Step Three: Add drawers</h2>
    <br />
    <p>
      For extra storage, add a Middle Drawer or Keyboard Slider to your new desk.
    </p>
  </div>
  <div class="small-12 large-6 columns pricing mto-price" id="finished-pricing">
    <div class="mto-div desks end">
      <img src="/images/mto-desks/mid_drawer.jpeg" class="top-image desks"/>
      <h4>middle drawer<br/>+$75<h4>
    </div>
    <div class="mto-div desks end">
      <img src="/images/mto-desks/key.jpeg" class="top-image desks"/>
      <h4>keyboard slider<br/>+$75<h4>
    </div>
  </div>
</div>

<div class="row mto-row">
  <div class="small-12 large-12 columns mto-description final-desk centered" >
    <h2><b>Congratulations!</b></h2>
    <br />
    <p>
      You have just assembled your new desk.
      Please remember that the bases may be placed either left or right, depending on your specific needs.
      <br />
      Please consult with a Bostonwood design professional
      to discuss custom sizing and options, or contact one of our local stores.
    </p>
    <h2>Do you need more storage?</h2>
    <p>Bostonwood offers Desk Hutches, Desk Bridges, Bookcases, and various Cabinets to enhance your office.</p>
  </div>
</div>
