<div class="row">
  <h1>Edit <%= @product.name %></h1>
</div>

<div class="row">
  <div class="small-12 large-6 columns edit-product-image">
    <%= image_tag @product.image_url(:standard) %><br />
  </div>
  <div class="small-12 large-6 columns">
    <%= render "form" %>
  </div>
</div>
